* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.web-header {
  background-color: rgb(40, 40, 40);
  padding: 20px 0;
  color: white;
}

.products-container {
  margin-top: 20px;
} 